@import "../../style/variables.scss";

.app {
    &__banner {
        width: 100%;
        background-color: $dark;
        padding: 0 2rem 0 3rem;
        display: grid;
        grid-template-columns: 10rem auto 9rem;
        align-items: center;

        &-text {
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            color: #ffffff;

            @media (max-width: 924px) {
                padding-top: 0;
                padding-left: 0;
            }
        }

        @media (max-width: 788px) {
            grid-template-columns: 1fr;
            justify-items: center;
            gap: 2rem;
            padding: 2rem;
        }
    }
}